{% extends "base.html" %}
{% block body %}

  <header class="masthead" style="background-image: url('static/img/qutubminar.png')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>My Research</h1>
            <span class="subheading"><a href="https://startbootstrap.com/previews/shop-homepage/"><b>click here to see repository</b></a></span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}